{% extends "base.html" %}
{% block homeactive %}active{% endblock %}
{% block content %}
    <section class="py-3 text-center container">
        <div class="container">
            <img src="https://gnews.gg.go.kr/OP_UPDATA/UP_DATA/_FILEZ/202009/20200904062511560928900.jpg" height='600' class="rounded mx-auto d-block" >
        </div>

        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="hn fw-light">마스크 잘 썼는지 확인하기</h1>
                <h1 class="hn fw-light">&#8595</h1>
                <a href="/test"><button type="button" class="btn btn-info">테스트 하러가기</button></a>
            </div>
        </div>
    </section>
{% endblock %}
